/* ABOUT */

.about {
  padding: 80px 0;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.section {
  &__header {
    display: block;
    max-width: 960px;
    text-align: center;
    color: $carbon;
    margin-bottom: 100px;
  }
  &__suptitle {
    font: {
      size: 24px;
      weight: 400;
      family: $cursive-font;
    }
    margin-bottom: 13px;
  }
  &__title {
    &::after {
      content: "";
      display: block;
      margin: 30px auto 30px;
      width: 60px;
      height: 3px;
      background-color: $meat;
    }
    font: {
      size: 30px;
      weight: 700;
    }
  }
  &__text {
    color: $basalt-grey;
    font: {
      size: 15px;
      weight: 400;
      family: $secondary-font;
    }
    line-height: 24px;
  }
}

// .section__gallery {}
// .gallery__about {
// }
// .about__list {
// }
.gallery {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    display: block;
    max-width: 372px;
    height: 252px;
  }
  &__item:not(:last-child) {
    margin-right: 25px;
  }
}

// .about__item {
// }
