$main-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$cursive-font: "Kaushan Script", cursive;

$white: #ffffff;
$daisy-desi: #fce38a;
$carbon: #333;
$meat: #f38181;
$basalt-grey: #999999;
